<header class="bg-dark text-danger my-0 py-5">
    <section class="container text-center">
        <h1>Les fans de tech</h1>
        <p>tout ce que vous voulez savoir sur la tech en osant le demander !</p>
    </section>
</header>